<div class="grid-container two_big_columns">
  <button (click)="expand_row()">add row</button>
  <button *ngIf="warehouse.maxRow>0" (click)="shrink_row()">delete row</button>
</div>

<div class="grid-container two_columns">
  <mat-grid-list [cols]="warehouse.maxColumn">
    <mat-grid-tile 
      *ngFor="let lo of numbers(warehouse?.maxColumn); let i = index"
      class="coordinates">
      {{ (i % warehouse.maxColumn) + 1 }}
    </mat-grid-tile>
    
  </mat-grid-list>
  <div>
    <button (click)="expand_col()">+</button>
    <button *ngIf="warehouse.maxColumn>0"(click)="shrink_col()">-</button>
  </div>
  <mat-grid-list [cols]="warehouse.maxColumn" class="not-fixed">
    <mat-grid-tile
      *ngFor="
        let lo of numbers(warehouse.maxRow * warehouse.maxColumn);
        let i = index
      "
    >
      {{ floor(i / warehouse.maxColumn) + 1 }}
    </mat-grid-tile>
  </mat-grid-list>
  
</div>
